.padding-top-bottom{
  padding-top: 10px;
  padding-bottom: 5px;
}

.title{
  font-weight: bold;
  font-size: 17px;
  color: black;
}

.no-result{
  text-align: center;
  margin-top: 5rem;
}

.card-background{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.id-post{
  color: #2424aa;
  font-weight: bolder;
}

.card-content{
  color: #33335b;
  font-weight: 400;
}